<h1>Welcome to Private Events</h1>

<% if @events.empty? %>
    <p>There are no events.</p>
<% else %>
    <h3>All Events</h3>
    <%= render partial: 'application/event', collection: @events %>
<% end %>
