<a href = "<%= event_path(event) %>">
    <div class = 'event-card'>
        <h4 class = "title"><%= event.title %></h4>
        <p class = "creator"><%= event.datetime %></p>
        <h5 class = "description"><%= event.location %></h5>
    </div>
</a>